
@{
    ViewData["Title"] = "About Us";
}
<div class="text-center">
<h1>About Us</h1>
<body style="background-color: cornsilk;">
    </body>
    <br />
    <img src="~/Images/James Khumalo.jpg" style="border-radius: 50%; width: 400px; height: 300px;" />
<h1 style="color:cyan;">James Khumalo</h1>
<p style="color:grey;">Chief Executive Officer</p>
<br />
<p>James Khumalo is the entreprenuer behind KhumaloCraft. He is a brilliant young mind who is just starting out in the industry</p>
<p>He had a vision and set out to showcase his hand-crafted products over an e-commerce platform.</p>
    <p>Click <a href="https://jesse-weeder.azurewebsites.net/Home/MyWorkPage">HERE</a> to view his products and prices.</p>
</div>
<div class="text-center">
    <img src="~/Images/Other Worker.jpg" style="border-radius: 50%; width: 400px; height: 300px;" />
    <h1 style="color:cyan;">Innez Wilscott</h1>
    <p style="color:grey;">Customer Experience Director</p>
    <br />
    <p>Innez ensures that the customer experience while using our website is efficient and seamless. She ensures this by taking in customer feedback and making sure that we improve upon it</p>
    <p>She oversees the entire customer experience department, which offers customer support and ensures customer satisfaction</p>
    <p>If you have any feedback, contact us <a href="https://jesse-weeder.azurewebsites.net/Home/ContactUs">HERE</a>.</p></p>
</div>