
@{
    ViewData["Title"] = "Contact Us";
}
<div class="text-center">
<body style="background-color: blue;">
<h1>Contact The Owners</h1>
<p>Our telephone number: </p>
<p>Our email address: </p>
<p>Our Fax: </p>
</body>
</div>
