
@{
    ViewData["Title"] = "Contact Us";
}
<div class="text-center">
<body style="background-color:cornsilk;">
<h1>Contact Customer Support or Provide Feedback</h1>
<p>Our telephone number: 0828396429 </p>
<p>Our email address: khumalosupport@gmail.com</p>
<p>Our Fax: +27 907 555 3627</p>
</body>
<br />
</div>

