@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To KhumaloCraft</h1>
    <br />
    <img src="~/Images/images.jpeg" alt="Example Image" width="400" height="300" />
    <br />
    <p>The Best Place to Fulfill Your Hand-Crafted Needs.</p>
    <p>Click <a href="https://jesse-weeder.azurewebsites.net/Home/MyWorkPage">HERE</a> To view our items and prices</p>
    <br />
    <p><a href="https://jesse-weeder.azurewebsites.net/Home/About">Find out more about us</a></p>
</div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Web Application</title>
</head>
<body style="background-color: cornsilk;">
</body>