@model POE1.Models.userTable
@{
    ViewData["Title"] = "My Work";
}
<div class="text-center">

<h1>Khumalo Craft</h1>
</div>

<body style="background-color:cornsilk;">
    
    <h1>What We Do At KhumaloCraft</h1>
    <div>
    <img src="~/Images/istockphoto-1405315769-612x612.jpg" alt="Example Image" width="200" height="200">
    <img src="~/Images/istockphoto-1149164941-612x612.jpg" alt="Example Image" width="200" height="200">
    <p> At KhumaloCraft we produce the finest hand-crafted products, some of these include: </p>
    </div>
    <br />
    <div>
        <title>Weaved Baskets</title>
        <p>WEAVED BASKETS </p>
        <img src="~/Images/istockphoto-1309646840-612x612.jpg" alt="Example Image" width="200" height="200">
        <p>Price R100 each</p>
        
    </div>
    <div>
    <p>CLAY VASES </p>
    <img src="~/Images/istockphoto-1405315769-612x612.jpg" alt="Example Image" width="200" height="200">
    <p>Price R200 each</p>
    </div>
    <div>
        <p>HANDMADE LEATHER HANDBAGS </p>
        <img src="~/Images/handmade-leather-bags-on-market-stall-spain-BXNJFX.jpg" alt="Example Image" width="200" height="200">
        <p>Price R150 each</p>
    </div>
</body>
<body>
    <form action="MyWork" method="post">
        <p>Insert new products</p>
        <input type="text" name="Name" placeholder="Name" required>
        <input type="text" name="Price" placeholder="Price" required>
        <input type="text" name="Category" placeholder="Category" required>
        <input type="text" name="Availability" placeholder="Availability" required>
        <button type="submit">Submit</button>
    </form>
</body>


